
<input type="button" value="Message information" class="btn btn-info" data-toggle="modal" data-target="#info-modal" />

<div id="info-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-info-sign"></i></h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <p>
                    The message must have between 5 and 255 characters.
                </p>
                <p>
                    No offenses are strictly forbidden.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>

    </div>
</div>